.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  width: 100vw;
  font-family: "Karla";
}
header{
  display: flex;
  width: 100vw;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  align-items: center;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  height: 80px;
}

header img{
  margin-right: 6px;
  height: 25px;
  width: 30px;
}
header h2{
  margin-right: auto;
}
.inputFields{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  width: 50%;

}
.inputFields input{
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  height: 40px;
  font-family: "Karla";
  font-size: 16px;
  text-indent: 10px;
  border: 1px solid #D5D4D8;
}
.inputFields input:nth-of-type(1){
  margin-right: 20px;
}
.inputFields button{
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  color: white;
  grid-column: 1/4;
  height: 40px;
  font-family: "Karla";
  font-size: 16px;
  text-align: center;
  font-weight: 550;
  cursor: pointer;
  border: none;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;

}
main img{
  height: 65vh;
  width: 50vw;
}
.actualMeme{
  position: relative;
}
.memeText{
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
  
}
.topText{
  top:0;
}
.bottomText{
  bottom: 0;
}
