header img{
  width: 100px;
  height: 50px;
}
header{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: white;
  box-sizing: border-box;
}
.section1{
  height: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3%;
  box-sizing: border-box;
}
.section1 img{
  width: 80%;
  height: 100%;
}
.section2{
  padding: 3%;
}
.section2 .imageContainer{
  font-family: 'poppins';
  min-height: 300px;
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  border: solid 1px brown;
  border-radius: 5px;
  display: flex;
  gap: 40px;
  overflow: hidden;
}
.section2 img{
  height: 230px;
  width: 170px;
  border-radius: 8px;
}
.imageContainer div{
  width: 30%;
  height: 100%;
}
.starImg{
  height: 15px !important;
  width: 15px !important;
}
.imageContainer> div .ratingSection{
  display: inline-flex;
  font-weight: 400;
  font-size: 15px;
  line-height: 111%;
  margin: 0;
  justify-content: space-between;
  width: 72%;
}
.firstLine{
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  color: #222222;
}
.secondLine{
  font-weight: 600;
  font-size: 12px;
  line-height: 110%;
}
.secondLine span:nth-of-type(2){
  font-weight: 300;
}